.header {
    background: #4a76a8;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 100%;
}

.login a {
    color: #fff;
    text-decoration: none;
}