.headImg {
    width: 100%;   
}

.contentWrapper {
    padding: 15px 15px 0;
}

.description {
    display: flex;
    margin-bottom: 15px;
}

.description img {
    max-width: 150px;
}

.description ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 15px;
    font-size: 20px;
}

.description .name {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 15px;
}