.post {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.post:last-child {
    margin-bottom: 0;
}

.post a {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 15px;
    overflow: hidden;
}

.post a img {
    width: 100%;
}

.post p {
    font-size: 20px;
}